
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text{
  font-family: 'Poppins';
  text-align: justify;
  font-size: 17px;
  line-height: 2;
  color: rgb(189, 114, 2);
}

.article {
  width: 70%;  

}
.subtitulo{
  color: #74591e;
  font-size: 25px;
  line-height: 3.5;
  font-family: 'Parisienne', cursive;
}
/**/
@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body {
  font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}


.container {
  padding: 2em;
  min-height: 89vh;
  display: flex;
  background: #ebd7a0bb;
  margin-top: -100px;
}

 h1{


   text-align: center;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 50px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
 
}

.blend-image, .card__background img {
 
  mix-blend-mode: screen;
}

.center-image, .card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-slide {
  padding: 1em .5em;
}

.card-slider {
  margin: auto;
  width: 100%;
}

.card {
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 350px;
  box-shadow: 0 30px 50px -25px rgba(0, 0, 0, 0.25);
}
.card > * {
  transition: opacity 350ms;
}
.card--opened > * {
  opacity: 0;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  text-align: left;
}
.card__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__category {
  text-transform: uppercase;
  color: rgb(238, 101, 101);
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em 0.25em;
}

.card__title {
  text-transform: uppercase;
  margin: 0.5em 0;
  color: #2e5f80;
}

.card__duration {
  color: #6f7070;
}

.modal-wrapper, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-wrapper {
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  border-radius: 20px;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.modal__close-button {
  border: none;
  margin-bottom: auto;
  color: #2e5f80;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
}

.modal__header {
  text-align: center;
  position: relative;
  display: flex;
  padding: .5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state="closed"] .modal-wrapper {
  pointer-events: none;
}
[data-modal-state="closed"] .overlay {
  pointer-events: none;
}
[data-modal-state="closed"] .modal {
  opacity: 0;
}
[data-modal-state="closed"] .overlay {
  opacity: 0;
}

[data-modal-state="opening"] .modal__header, [data-modal-state="opening"] .modal__content, [data-modal-state="opening"] .modal__close-button, [data-modal-state="closing"] .modal__header, [data-modal-state="closing"] .modal__content, [data-modal-state="closing"] .modal__close-button {
  opacity: 0;
}

[data-modal-state="opening"] .overlay {
  transition: opacity 500ms ease;
}

[data-modal-state="closing"] .overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

[data-modal-state="open"] .modal__header, [data-modal-state="open"] .modal__content {
  transition: opacity 450ms;
}



.wrap{
	width: 1100px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 270px;
	height: 200px;
	background: rgb(223, 150, 56);
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
  background: rgb(247, 198, 135);
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(http://1.1m.yt/J9Kw7kl.jpg);
	background-size: cover;
}

.card2{
	background-image: url(http://1.1m.yt/dlxMf3R.jpg);
	background-size: cover;
}

.card3{
	background-image: url(http://3.1m.yt/EUB_xE.jpg);
	background-size: cover;
}

.con{
  font-family: 'Quicksand', sans-serif;
   font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
}

.contenedor-anuncio{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  font-family: century;
  font-size: 15px;
  padding: 30px 30px 30px 50px;

}

.anuncio{
  flex:0 0 calc(48% - 1rem);

  margin-bottom: 2rem;
  
}
.text2{

  line-height: 2; 
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
 text-align: justify;
 letter-spacing: 1px;
}